/* SCSS 변수 & 믹스인 불러오기 */
@use "./variables" as *;
@use "./mixins" as *;

// 커스텀 스타일 정의
.main-button {
  @include button-style;
  background-color: $button-color;
  color: white;
  &:hover {
    background-color: $button-hover;
  }

	i {
		font-size: 20px;  /* 아이콘 크기 60px */
		color: white;     /* 아이콘 색상 흰색 */
		transition: color 0.3s ease;  /* 색상 변화에 부드러운 전환 효과 추가 */
	}
}
