@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
	font-weight: bold;
  cursor: pointer;

	// background-color: #4CAF50;  /* 버튼 배경색 (선택 사항) */
}